[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
numpy = "*"
pydantic = "*"
pandas = "*"
requests = "*"
regex = "*"
boto3 = "*"
openai = "*"
awswrangler = "*"
pgeocode = "*"
pyairbnb = "*"
ruff = "*"
tiktoken = "*"
black = "*"
ipykernel = "*"

[dev-packages]
scikit-learn = "*"
statsmodels = "*"
matplotlib = "*"
seaborn = "*"
xgboost = "*"
weaviate-client = "*"

[requires]
python_version = "3.13"
