[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pydantic = "*"
pandas = "*"
openai = "*"
pgeocode = "*"
pyairbnb = "*"
playwright = "*"
tiktoken = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
freezegun = "*"
ruff = "*"
black = "*"
ipykernel = "*"

[requires]
python_version = "3.13"
